*{
  margin:0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
:root{
  --primary-color:rgb(224, 224, 224);
  --secondary-color:rgb(245, 245, 245);
}

.container_fluid{
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  place-items: center;
  position: relative;
}
.container-box{
  min-width: 90%;
  height: 90vh;
  background-color:var(--secondary-color) ;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

}
.container-box::after{
  content:'';
  position: absolute;
  width: 100px;
  height: 35%;
  border-radius: 6px;
  background-color: rgb(160, 234, 42);
  top: 32%;
  left: -1%;

}
.container-box::before{
  content:'';
  position: absolute;
  width: 100px;
  height: 35%;
  border-radius: 6px;
  background-color: rgb(160, 234, 42);
  top: 32%;
  right: -1%;

}