*{
  margin:0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
:root{
  --primary-color:#dadde5;
  --secondary-color:#f1f2f6;
}

.container_fluid{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) ,url('https://image.slidesdocs.com/responsive-images/background/business-note-pink-creative-cute-music-powerpoint-background_07e95f4ea3__960_540.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  place-items: center;
  position: relative;
}
.container-box{
  width: 80vw;
  height: 90vh;
  opacity: .9;
  background-color:var(--secondary-color) ;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

}
.container-box::after{
  content:'';
  position: absolute;
  width: 100px;
  height: 35%;
  border-radius: 6px;
  background-image: url('https://w0.peakpx.com/wallpaper/960/845/HD-wallpaper-nature-landscape-landscape-nature-thumbnail.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  top: 32%;
  left: -1%;

}
.container-box::before{
  content:'';
  position: absolute;
  width: 100px;
  height: 35%;
  background-image: url('https://wallpapershome.com/images/wallpapers/road-720x1280-trees-summer-4k-17125.jpg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;

  top: 32%;
  right: -1%;

}